@charset "UTF-8";

body {
    font-family: Arial;
}
h1 { 
    font-size: 20pt;
}
h2 {    
    font-size: 16pt;
}
p {  
    font-size: 14pt;
    text-align: justify;
}
ul {
    font-size: 14pt;
}

a{
    color: purple;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
abbr{
    text-decoration: underline;
}
img {
    align-items:center;
}

video {
    align-items:center;
}